PORT
FRONTEND_URL
NODE_ENV
MONGO_URI
JWT_SECRET
PAYSTACK_SECRET_KEY
GMAIL_USER
GMAIL_PASSWORD
UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
SIGHTENGINE_API_USER
SIGHTENGINE_API_SECRET
